body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* body occupies whole browser height,
    enabling flex-grow; */
}
.header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px;
    font-size: 24px;
    align-items: center;
}
.info, .header {
    background-color: #1f2937;
}
.header a { /*targets links*/
    color: #f9faf8;
    text-decoration: none;
}

.projects a { /* Project links*/
    text-decoration: none;
    color: #1f2937;
    font-size: 20px;
}

.projects img {
    width: 200px;
    margin: 10px;
}

.example .description {
    width: 200px;
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}
.projects ul{
    display: flex;
    gap: 100px;
    flex-direction: row;
}
ul {
    list-style: none;
}
.example {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.info .summary {
    color: #e5e7eb;
    font-size: 18px;
}

.info .shout {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    display: flex;
    align-items: center;
}

.footer #about h3{
    font-size: 18px;
    margin: 0 0 10px; /* headings and lists have padding+margin*/
    padding: 0;
}

.footer #about div {
    font-size: 14px;
}